apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          image: {{ .Values.backend.image }}
          ports:
            - containerPort: {{ .Values.backend.port }}
          env:
            - name: PORT
              value: "5000"
            - name: MONGO_URL
              value: "mongodb+srv://muraliashogan2012:muraliashogan2012@cluster0.sfgmoaf.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"
            - name: FRONTEND_URL
              value: "http://localhost:3000"

