name: CI/CD Deploy to K8s

on:
  push:
    branches: [main]

env:
  REGISTRY: docker.io
  DOCKER_USERNAME: murali325
  AWS_REGION: us-east-1
  EKS_CLUSTER_NAME: crud-app-cluster

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up AWS CLI
      run: |
        if ! command -v aws &> /dev/null; then
          echo "AWS CLI not found. Installing..."
          curl "https://d1vvhvl2y92vvt.cloudfront.net/awscli-exe-linux-x86_64.zip" -o "awscliv2.zip"
          unzip awscliv2.zip
          sudo ./aws/install --update
        else
          echo "AWS CLI found."
        fi
