name: CI/CD Deploy to K8s

on:
  push:
    branches: [main]

env:
  REGISTRY: docker.io
  DOCKER_USERNAME: murali325

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Docker
      uses: docker/setup-buildx-action@v2

    - name: Log in to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build and Push Frontend Image
      run: |
        docker build -t $REGISTRY/$DOCKER_USERNAME/crud-frontend:latest ./React-frontend
        docker push $REGISTRY/$DOCKER_USERNAME/crud-frontend:latest

    - name: Build and Push Backend Image
      run: |
        docker build -t $REGISTRY/$DOCKER_USERNAME/crud-backend:latest ./backend-node.js
        docker push $REGISTRY/$DOCKER_USERNAME/crud-backend:latest

    - name: Set up kubectl
      uses: azure/setup-kubectl@v3
      with:
        version: 'latest'

    - name: Set up Helm
      uses: azure/setup-helm@v3

    - name: Configure kubeconfig
      run: |
        echo "${{ secrets.KUBECONFIG }}" > kubeconfig
        export KUBECONFIG=kubeconfig

    - name: Deploy with Helm
      run: |
        helm upgrade --install crud-app ./Helm/fullstack-chart --values ./Helm/fullstack-chart/values.yaml
