name: CI/CD Deploy to K8s

on:
  push:
    branches: [main]

env:
  REGISTRY: docker.io
  DOCKER_USERNAME: murali325
  AWS_REGION: us-east-1  # Set the correct region

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up AWS CLI (with update)
      run: |
        if ! command -v aws &> /dev/null; then
          echo "AWS CLI not found. Installing..."
          curl "https://d1vvhvl2y92vvt.cloudfront.net/awscli-exe-linux-x86_64.zip" -o "awscliv2.zip"
          unzip awscliv2.zip
          sudo ./aws/install
        else
          echo "AWS CLI found. Updating..."
          sudo /usr/local/aws-cli/v2/current/bin/aws --version
          sudo /usr/local/aws-cli/v2/current/bin/aws --update
        fi

    - name: Set up Docker
      uses: docker/setup-buildx-action@v2

    - name: Log in to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build and Push Frontend Image
      run: |
        docker build -t $REGISTRY/$DOCKER_USERNAME/crud-frontend:latest ./frontend
        docker push $REGISTRY/$DOCKER_USERNAME/crud-frontend:latest
    - name: Build and Push Backend Image
      run: |
        docker build -t $REGISTRY/$DOCKER_USERNAME/crud-backend:latest ./backend
        docker push $REGISTRY/$DOCKER_USERNAME/crud-backend:latest

    - name: Set up kubectl
      uses: azure/setup-kubectl@v3
      with:
        version: 'latest'

    - name: Set up Helm
      uses: azure/setup-helm@v3

    - name: Update kubeconfig for EKS
      run: |
        aws eks update-kubeconfig --region $AWS_REGION --name crud-app-cluster
      env:
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

    - name: Test cluster connection
      env:
        KUBECONFIG: kubeconfig
      run: kubectl get nodes

    - name: Deploy with Helm
      env:
        KUBECONFIG: kubeconfig
      run: |
        helm upgrade --install crud-app ./Helm/fullstack-chart --values ./Helm/fullstack-chart/values.yaml
